	<div class="network-footer">
		<div class="title-network">
		Mes réseaux</div>
		<div class="network">
			<ul>
				<li><a href="https://github.com/chris-rousseau" target="_blank"><i class="fab fa-github-square"></i> Github</a></li>
				<li><a href="https://fr.linkedin.com/in/christopher-rousseau" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
				<li><a href="https://twitter.com/Kuliissu" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></li>
			</ul>
		</div>
	</div>
</div>
<footer>
	<p>
		Développé avec ❤️ sur Symfony  &bull; <a href="#">Crédits</a> &bull;
		<a href="{{ path('contact') }}">Me contacter</a>
	</p>
</footer>
</body>
</html>
