<div class="container-nav">
	<header>
		<div class="header-background"></div>
		<div class="header-background2"></div>
		<div class="left-logo">
			<a href="{{ path('blog_index') }}"><img src="{{ asset('/assets/img/coffee-cup.png') }}" alt="Logo du site (gobelet de café)"></a>
		</div>
		<div class="right-logo">
			<p class="text-logo">
				<a href="{{ path('blog_index') }}">chris.dev</a>
			</p>
			<p>Du café et des lignes de code</p>
		</div>
	</header>
	<nav>
		<ul>
			<li><a href="{{ path('blog_index') }}">Blog</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	<div class="network">
		<ul>
			<li><a href="https://github.com/chris-rousseau" target="_blank"><i class="fab fa-github-square"></i> Github</a></li>
			<li><a href="https://fr.linkedin.com/in/christopher-rousseau" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
			<li><a href="https://twitter.com/Kuliissu" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a></li>
		</ul>
	</div>
</div>
<div id="container">
