{% include "blog/partials/twitter.html.twig" %}
	</div>
	<footer>
		<p>
			Développé avec ❤️ sur Symfony  &bull; <a href="{{ path('site_credits') }}">Crédits</a> &bull;
			<a href="{{ path('contact') }}">Me contacter</a>
		</p>
	</footer>
	</body>
</html>
