{% extends 'base_portfolio.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
        <div class="bloc-project">
            <h1>Mes réalisations</h1>
            <div class="project">
            <a href="#"><img src="https://data.1freewallpapers.com/download/artistic-retrowave-sunrise-vaporwave-1024x576.jpg" alt="Image du projet"></a>
                <div>
                    <h2><a href="#">CryptoConvert</a></h2>
                    <p>
                        Convertisseur de $/€ vers quelques cryptomonnaies, en utilisant l'API de Binance.
                    </p>
                    <div class="info">
                        <a href="#">+ d'infos</a>
                    </div>
                </div>
            </div>
            <div class="project">
            <a href="#"><img src="https://data.1freewallpapers.com/download/artistic-retrowave-sunrise-vaporwave-1024x576.jpg" alt="Image du projet"></a>
                <div>
                    <h2><a href="#">Ce site</a></h2>
                    <p>
                        Regroupant le portfolio, le blog, enfin tout le site. Ne voulant pas utiliser Wordpress pour m'entraîner et pratiquer.
                    </p>
                    <div class="info">
                        <a href="#">+ d'infos</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
