.count {
    font-size: 3em;
    text-align: right;
}

.users-card {
    background: linear-gradient(to right, #f94b67, #f7748b);
    border: 0;
    border-radius: 10px;
}

.pills-card {
    background: linear-gradient(to right, #f76b2e, #eea45c);
    border: 0;
    border-radius: 10px;
}

.reviews-card {
    background: linear-gradient(to right, #039767, #4ed6aa);
    border: 0;
    border-radius: 10px;
}

.spacing {
    margin-bottom: 1em;
}

.input-style,
.input-style:focus {
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
    border: 0;
    margin-bottom: 1em;
    padding-left: .8em;
}

.textarea-style,
.textarea-style:focus {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    border: 0;
    margin-bottom: 1em;
    padding-left: .8em;
}

.select-style,
.select-style:focus {
    background-color: rgb(219, 219, 219);
    border-radius: 25px;
    border: 0;
    margin-bottom: 1em;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center right 20px;
    padding-left: .8em;
}

.label-style {
    font-weight: bold;
    padding-left: .8em;
}