.count {
    font-size: 3em;
    text-align: right;
}

.users-card {
    background: linear-gradient(to right, #f94b67, #f7748b);
    border: 0;
    border-radius: 10px;
}

.pills-card {
    background: linear-gradient(to right, #f76b2e, #eea45c);
    border: 0;
    border-radius: 10px;
}

.reviews-card {
    background: linear-gradient(to right, #039767, #4ed6aa);
    border: 0;
    border-radius: 10px;
}

.spacing {
    margin-bottom: 1em;
}

.input-style,
.input-style:focus {
    background-color: rgb(235, 235, 235);
    width: 50%;
    height: 3em;
    border-radius: 10px;
    border: 0;
    padding-left: .8em;
}

.textarea-style,
.textarea-style:focus {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    border: 0;
    margin-bottom: 1em;
    padding-left: .8em;
}

.select-style,
.select-style:focus {
    background-color: rgb(219, 219, 219);
    width: 45%;
    height: 3em;
    border-radius: 10px;
    border: 0;
    padding-left: .8em;
}

.label-style {
    font-weight: bold;
    padding-left: .8em;
}

.title-post-comment {
    font-size: .7em;
    font-style: italic;
}

.navigation {
    text-align: center;
}

.navigation li {
    margin-right: .5em;
    margin-top: 1em;
}

.navigation li a {
    background-color: rgb(179, 206, 241);
    padding: .5em .5em;
    border-radius: 10px;
    text-decoration: none;
}