h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.2em;
}

h2::before {
    content: "";
}

.network-footer {
    margin: 2em auto;
    text-align: center;
}

.network {
    background-color: #272727;
    border-radius: 25px;
    padding: .7em;
}

.network ul {
    text-align: center;
}

.network li {
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
}

.network a {
    text-decoration: none;
    color: #e7e7e7;
}

.network a:hover {
    color: #ce983a;
}

.title-network {
    display: none;
}

.hello {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin-left: 1.4em;
    margin-bottom: .5em;
}

.bloc {
    display: flex;
    margin-top: 1em;
}

.presentation img {
    width: 60px;
    margin-right: 1em;
}

.presentation p {
    background-color: #272727;
    font-size: .9em;
    line-height: 1.1em;
    border-radius: 0 15px 0 15px;
    padding: .7em;
    margin-bottom: 1em;
}

.presentation a {
    color: #ce983a;
    text-decoration: none;
}

.presentation a:hover {
    color: #e7e7e7;
    text-decoration: underline;
}

.portfolio {
    margin-right: 0 !important;
    margin-left: 1em;
}

.project {
    display: flex;
    align-items: center;
    background-color: #272727;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 1em;
}

.project img {
    height: 60px;
    margin-right: 1em;
    border-radius: 15px;
    padding-top: .2em;
}

.project p {
    font-size: .8em;
}

.info {
    display: none;
    margin-top: 1em;
    text-align: right;
}

.info a {
    display: none;
    background-color: #e7e7e7;
    border-radius: 15px;
    padding: .3em .5em;
    color: #272727;
    font-weight: bold;
    text-decoration: none;
}

.project-single {
    background-color: #272727;
    border-radius: 15px;
    padding: 1em;
}

.project-single h2 {
    margin-top: 1em;
}

.project-single h2:nth-child(1) {
    margin-top: 0;
}

.project-single a {
    color: #ce983a;
}

.project-single a:hover {
    color: #e7e7e7;
}

.project-single p {
    margin-bottom: 1em;
}

.project-single p:last-child {
    margin-bottom: 0;
}

.screenshots {
    margin: 1em 0;
}

.screenshots img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1em;
    /* box-shadow: 0 0 10px #e7e7e775; */
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.links {
    margin: 1.5em 0;
}

.github-button a {
    background-color: #cebb52;
}


.project-button a {
    background-color: #41bdd3;
}

.list-button a {
    background-color: #d3414d;
}

.github-button a:hover, .project-button a:hover, .list-button a:hover {
    background-color: #e7e7e7;
}

.list-button a {
    display: block;
    width: 50%;
    border-radius: 25px;
    text-align: center;
    padding: .7em;
    margin-bottom: .5em;
    font-weight: bold;
    color: #1f1f1f;
    text-decoration: none;
}

.github-button a, .project-button a {
    display: block;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    padding: .7em;
    margin-bottom: .5em;
    font-weight: bold;
    color: #1f1f1f;
    text-decoration: none;
}

@media (min-width: 43.750em) {
    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main {
        width: 50%;
    }

    .presentation {
        width: 48%;
        padding-top: 2em;
    }

    .bloc-project {
        width: 100%;
    }

    .project {
        position: relative;
        width: 80%;
        margin: 1em auto;
    }

    .project img {
        height: 90px;
    }

    .info, .info a {
        display: block;
        position: absolute;
        width: 5.5em;
        top: 0;
        right: .5em;
    }
}

@media (min-width: 62.500em) {
    main {
        width: 55%;
    }

    .presentation {
        width: 43%;
    }

    .presentation img {
        width: 100px;
    }

    .presentation {
        width: 41%;
    }

    .presentation p {
        background-color: #1f1f1f;
        font-size: 1em;
        padding: 1em;
        line-height: 1.2em;
    }

    .network-footer {
        display: flex;
        margin: 2em auto;
    }

    .title-network {
        display: block;
        background-color: #e7e7e7;
        color: #272727;
        font-weight: bold;
        border-radius: 25px;
        padding: .7em 1em;
    }

    .network, .project {
        background-color: #1f1f1f;
    }

    .details {
        display: flex;
        justify-content: space-between;
    }

    .project-single {
        background-color: #1f1f1f;
    }

    .bloc-details {
        width: 65%;
    }

    .screenshots {
        width: 32%;
        margin-top: 3em;
    }
}

@media (min-width: 75em) {
    h2 {
        position: static;
    }

    .presentation {
        width: 41%;
    }
}