<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Karantina:wght@400;700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=Slabo+27px&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('/assets/css/reset.css') }}">
		<link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{% include "blog/assets/header.html.twig" %}
		{% block body %}{% endblock %}
		{% include "blog/assets/footer.html.twig" %}
	</body>
</html>
